.map-wrap{
    width: 100%;
    height: 458px;
}
.venue-content{
    position: relative;
    margin-top: -40px;
    border-radius: 40px 40px 0 0;
    background-color: #fff;
    z-index: 1000;
    .venue-text{
        color: #7b8187;
        font-size: 28px;
        letter-spacing: 4px;
        margin: 30px 40px;
    }
}
.venue-nav{
    display: flex;
    justify-content: space-around;
    height: 90px;
    line-height: 90px;
    border-bottom: 1px solid #f3f4f5;
    border-top: 1px solid #f3f4f5;
    .nav-color{
        color: #999;
    }
    .nav-color-active{
        color: #000;
    }
}
.recommend-info{
    line-height: 70px;
    color: #7b8187;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    letter-spacing: 2px;
    text-decoration: underline;
}