.nav{
    display: flex;
    justify-content: space-around;
    color: #999ea3;
    border-bottom: 1px solid #f9fafa;
    &__list{
        line-height: 90px;
        position: relative;
    }
    &__icon{
        position: absolute;
        top: 40px;
        right: -40px;
        height: 30px;
        width: 30px;
        background-image: url(https://m2static.228.cn/images/icon.png);
        background-size: 300px;
        background-position: 0 -5880px;
    }
    &__icon__up{
        background-position: 0 -5989px;
    }
}
.load-more{
    width: 200px;
    height: 54px;
    line-height: 54px;
    text-align: center;
    border-radius: 200px;
    margin: auto;
    background: #fff;
    box-shadow: 0px 2px 6px 0px rgba(255, 58, 86, 0.2);
    color: #ff2959;
}
.mask{
    position: fixed;
    top: 180px;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999;
    transition: all 0.3s;
    overflow: hidden;
    .type-tab{
        position: relative;
        z-index: -1;
        background-color: #fff;
        display: flex;
        flex-wrap: wrap;
        border-radius: 0 0 40px 40px;
        transition: transform 0.3s;
        transform: translateY(-100%);   
        .type-list{
            width: calc(100% / 3);
            height: 90px;
            line-height: 90px;
            text-align: center;
        }
        .type-active{
            color: #ff2959;
        }
        &.show{
            transform: translateY(0);
        }
    }
    &.show{
        background: rgba(0,0,0,.4);
    }
}